:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --background-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --titl-color: #2e2f42;
  --text-color: #434455;
  --success-color: #31d0aa;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: var(--hero-background-color);
}

.input {
  height: 40px;
  padding: 0;
  padding-left: 10px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: #fcfcfc;

  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.submit-btn {
  margin-left: 20px;
  padding: 5px 15px;
  background: var(--primary-brand-color);
  border-radius: 4px;
  border-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:is(:focus, :hover) {
  background-color: var(--pressed-state-color);
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.photo-card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card:hover {
  transform: scale(1.03);
}

img {
  display: block;
  max-width: 100%;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.load-more {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.gallery__link {
  display: block;
  text-decoration: none;
  cursor: zoom-in;
  color: #212121;
}
.block {
  display: block;
}
